@model RecipeModel

@{
    ViewData["Title"] = Model.Name + " Recipe";
}


<a asp-controller="Recipes" asp-action="Index" method="get" class="btn btn-primary m-3" style="width:200px">Return To Index</a>

<div class="container bg-secondary p-4 m-4">
    <div class="d-flex justify-content-between">
        <span class="h1 text-light">@ViewData["Title"]</span>
        <a href="#" class="btn btn-primary btn-lg">
            <span class="bi bi-heart"></span> Favorite
        </a>
    </div>
    <div class="row row-cols-auto">
        <div class="col text-light">
            <b>Servings: @Model.Servings</b>
        </div>
        <div class="col text-light">
            <b>Prep Time: @Model.PrepTime</b>
        </div>
        <div class="col text-light">
            <b>Cook Time: @Model.CookTime</b>
        </div>
    </div>
    <h4 style="margin-top:20px" class="text-light">Ingredients:</h4>
    @if (Model.Ingredients != null)
        @foreach (IngredientModel i in Model.Ingredients)
        {
            <p class="text-light"><b>@i.Amount &nbsp; @i.Units</b>&nbsp; @i.Name</p>
        }
    <h4 style="margin-top:20px" class="text-light">Directions:</h4>
    <pre class="text-light">@Model.Directions</pre>
</div>
<div>
    <span class="h2 text-light">Reviews:</span>
    <button class="btn btn-success text-light float-end">
        <span class="bi bi-plus-lg"></span> Add Review
    </button>
    @if (Model.Reviews != null)
        @foreach (ReviewModel rm in Model.Reviews)
        {
            <div class="container bg-secondary p-3 m-4">
                <div class="d-flex justify-content-between">
                    <span class="text-light">@rm.UserEmail</span>
                    @if (Context.Session.GetInt32("RoleID") > 2 || Context.Session.GetString("Email") == rm.UserEmail)
                    {
                        <a asp-controller="Reviews" asp-action="DeleteReview" asp-route-reviewid="@rm.ReviewID" asp-route-recipeid="@rm.RecipeID" method="get" class="btn btn-danger">Delete</a>
                    }
                    else
                    {
                        <pre> </pre>
                    }
                </div>
                <p class="text-light">@rm.ReviewText</p>
            </div>
        }
</div>
