@model RecipeModel

@{
    ViewData["Title"] = Model.Name + " Recipe";
}


<a asp-controller="Recipes" asp-action="Index" method="get" class="btn btn-primary m-3" style="width:200px">Return To Index</a>

<div class="container bg-secondary p-4 m-4">
    <h1 class="text-light">@ViewData["Title"]</h1>
    <div class="row row-cols-auto">
        <div class="col text-light">
            <b>Servings: @Model.Servings</b>
        </div>
        <div class="col text-light">
            <b>Prep Time: @Model.PrepTime</b>
        </div>
        <div class="col text-light">
            <b>Cook Time: @Model.CookTime</b>
        </div>
    </div>
    <h4 style="margin-top:20px" class="text-light">Ingredients:</h4>
    @if (Model.Ingredients != null)
        @foreach (IngredientModel i in Model.Ingredients)
        {
            <p class="text-light"><b>@i.Amount &nbsp; @i.Units</b>&nbsp; @i.Name</p>
        }
    <h4 style="margin-top:20px" class="text-light">Directions:</h4>
    <pre class="text-light">@Model.Directions</pre>
</div>
<div>
    <span class="h2 text-light">Reviews:</span>
    <button class="btn btn-success text-light float-end">Add Review</button>
    <div class="container bg-secondary p-3 m-4">
        <p class="text-light">username@email.com</p>
        <p class="text-light">This is a test review of a recipe.</p>
    </div>
</div>
